@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  --primary-color: #666af6;
  --secondary-color: #072565;
  --white-color: #ffffff;
  --dark-color: #222;
  --dark-blue: rgb(6, 0, 43);
  --gray-color: #555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  width: 92%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.topbar {
  width: 100%;
  color: var(--white-color);
  background-color: var(--dark-blue);
  padding: 0.5rem 0;
  font-family: "Open Sans", sans-serif;
}

.topbar-flex {
  display: flex;
  justify-content: space-between;
}

.topbar-info {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}

.topbar-info li {
  padding: 0 0.8rem;
}

.topbar-info li i {
  padding-right: 0.5rem;
}

.topbar-social-icons {
  display: flex;
}

.topbar-social-icons li {
  padding-left: 1rem;
}

.topbar-social-icons li a {
  color: var(--white-color);
}

.header {
  font-family: "Jost", sans-serif;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.1rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.11);
  position: relative;
  background-color: var(--white-color);
  z-index: 2;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav {
  display: flex;
}

.header .nav li {
  padding: 0 1rem;
}

.header .nav li a {
  color: var(--dark-color);
}

.header .nav li a:hover {
  color: var(--primary-color);
}

.header h1 {
  text-transform: uppercase;
  color: var(--primary-color);
}

.header .nav li .active {
  color: var(--primary-color);
}

.btn a {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1.4rem;
}

.hero .swiper-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: var(--white-color);
  text-shadow: 6px 6px 12px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Jost";
  min-height: 100vh;
}

.slide1 {
  background-image: url(./Images/image3.png);
}

.slide2 {
  background-image: url(./Images/image2.png);
}

.slide3 {
  background-image: url(./Images/image1.png);
}

.slide1,
.slide2,
.slide3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-slide {
  opacity: 0;
  animation: slide-in 2s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-slide2 {
  opacity: 0;
  animation: slide-in2 2s forwards;
}

@keyframes slide-in2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.main-animation {
  font-family: "Poppins", sans-serif;
  color: transparent;
  -webkit-text-stroke: 0.1vw white;
  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  /* text-shadow: none; */
  background-position: -200px 0;
  animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

.features-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  width: 90%;
}

.illustrations {
  text-align: center;
  width: 100%;
  padding: 2.3rem 0;
}

.illustrations-content {
  margin-top: -0.5rem;
  color: var(--dark-color);
  padding-bottom: 0.7rem;
}

.illustrations-content h2 {
  margin-bottom: 0.5rem;
}

.illustrations-content a {
  color: var(--dark-color);
}

.illustrations-content a:hover {
  color: var(--primary-color);
}

.illustrations-content p {
  padding: 0 1rem;
  color: var(--gray-color);
}

.illustrations svg {
  width: 100%;
  height: 8rem;
}

.facilities {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding-bottom: 5rem;
  position: relative;
}

.facilities h2 {
  margin: 2.5rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.facilities-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  width: 90%;
  margin: 0 auto;
}

.facilities-header {
  text-align: center;
}

.card {
  background-color: var(--white-color);
  /* padding: 1.5rem; */
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s, box-shadow 0.8s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card h3 {
  margin: 0.5rem 0;
  color: var(--dark-color);
  padding: 0 1.5rem;
  font-weight: 500;
}

.card p {
  color: var(--gray-color);
  padding: 0 1.5rem;
}

.learn-more {
  padding: 0 1.5rem;
  padding-bottom: 1rem;
}

.card .learn-more a {
  font-size: 0.9rem;
  color: var(--dark-color);
  font-weight: 500;
}

.card .learn-more a:hover {
  color: var(--primary-color);
}

.underline {
  position: relative;
}

.underline:after {
  content: " ";
  position: absolute;
  width: 100%;
  border-top: solid 3px var(--white-color);
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  height: 8px;
}

.join-us {
  background-color: var(--white-color);
  position: relative;
  padding-bottom: 8rem;
  padding-top: 5rem;
}

.join-us .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-us .join-us-content {
  width: 40vw;
}

.join-us .join-us-content h2 {
  padding: 0.5rem 0;
}

.join-us .join-us-content p {
  padding-bottom: 0.5rem;
}

.join-us svg {
  height: 28vw;
  width: 40vw;
}

.join-btn {
  margin-top: 1rem;
}

.join-us p {
  color: var(--gray-color);
}

.join-us a {
  /* color: var(--white-color);
  background-color: var(--primary-color); */
  font-weight: 500;
  padding: 0.8rem 1.8rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

.join-us a:hover {
  background-color: var(--primary-color);
  color: white;
}

.testimonials {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.custom-shape-divider-bottom-1698467442 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698467442 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 93px;
}

.custom-shape-divider-bottom-1698467442 .shape-fill {
  fill: #666af6;
}

.testinomial {
  background-color: var(--primary-color);
  padding-bottom: 3rem;
}

.testinomial .swiper-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.testinomial img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.2rem;
  border: 4px solid;
}

.testinomial .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
}

.testinomial .message {
  width: 50vw;
  padding: 1rem 0;
}

.testinomial h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1rem;
}

.testinomial-heading {
  text-align: center;
  padding-top: 1rem;
}

.testinomial-heading h2 {
  display: inline-block;
  color: var(--white-color);
  padding-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.footer .container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer {
  background-color: rgb(240, 250, 255);
}

.footer a {
  color: var(--gray-color);
  margin-right: 0.8rem;
  display: flex;
  flex-direction: column;
}

.footer a:hover {
  color: var(--primary-color);
}

.footer h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.footer-social-icons {
  display: flex;
  font-size: 1.2rem;
}

.footer h3 {
  padding-bottom: 0.5rem;
}

.find-us li {
  display: flex;
  align-items: center;
  color: var(--gray-color);
}

.find-us li p {
  padding-left: 0.8rem;
}

.topbar p {
  font-size: 0.85rem;
  text-align: center;
  font-family: "Poppins";
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: var(--dark-color);
  margin: 3px 0;
  transition: 0.4s;
}

.mobile-menu {
  display: flex;
  right: 0;
}

.mobile-menu-content {
  display: none;
  width: 100vw;
  text-align: center;
  background-color: var(--primary-color);
  padding: 2rem 0;
  border-bottom-left-radius: 8px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.352);
  z-index: 10000;
}

.mobile-menu li {
  padding: 1rem 0;
}

.mobile-menu li a {
  color: white;
}

@media screen and (max-width: 900px) {
  .header .nav li {
    padding: 0 0.5rem;
  }

  .header .btn {
    display: none;
  }

  .header .logo {
    font-size: 1rem;
  }
  .footer .container {
    width: 98%;
  }
}

@media screen and (max-width: 800px) {
  .header .nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 6px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
}
